<div class="container mx-auto">
  <div class="mx-auto text-center">
    <div class="flex justify-between border-b-2 border-blue-100 mb-2.5">
      <p class="text-white">Quiz: 60</p>
      <p class="text-white">03:00min</p>
    </div>

    <p class="text-white mb-2.5">
      <span> 1. </span>
      Welcher deutsche Herrscher trug den Beinamen “der Große”?
    </p>

    <div class="gap-y-1.5 flex flex-col">
      <div
        class="flex bg-blue-100 rounded-full p-1 items-center gap-x-3 question"
      >
        <span
          class="p-3 w-3 h-3 flex justify-center items-center text-h4 relative bg-orange text-blue-100 rounded-full mb-0"
        >
          A
        </span>
        <p class="text-blue-200">Friedrich der I. von Preußen</p>
        <div class="cross"></div>
      </div>

      <div
        class="flex bg-blue-100 rounded-full p-1 items-center gap-x-3 active question"
      >
        <span
          class="p-3 w-3 h-3 flex justify-center items-center text-h4 relative bg-orange text-blue-100 rounded-full mb-0"
        >
          B
        </span>
        <p class="text-blue-200">Friedrich der III. von Sachsen</p>
        <div class="cross"></div>
      </div>

      <div
        class="flex bg-blue-100 rounded-full p-1 items-center gap-x-3 question"
      >
        <span
          class="p-3 w-3 h-3 flex justify-center items-center text-h4 relative bg-orange text-blue-100 rounded-full mb-0"
        >
          C
        </span>
        <p class="text-blue-200">Friedrich II. von Preußen</p>
        <div class="cross"></div>
      </div>

      <div
        class="flex bg-blue-100 rounded-full p-1 items-center gap-x-3 question"
      >
        <span
          class="p-3 w-3 h-3 flex justify-center items-center text-h4 relative bg-orange text-blue-100 rounded-full mb-0"
        >
          D
        </span>
        <p class="text-blue-200">Friedrich der III. von Österreich</p>
        <div class="cross"></div>
      </div>
    </div>
  </div>
</div>
