@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.question {
  @apply cursor-pointer;

  &.active {
    @apply bg-orange;

    .cross {
      @apply w-6 h-6 bg-blue-100 block absolute right-3 rounded-full hover:cursor-pointer;

      &:after {
        @apply block content-[""] bg-orange absolute inset-0;
        mask-size: 16px;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-image: url(assets/images/1828774.png);
      }
    }

    span {
      @apply text-orange;
    }

    p {
      @apply text-white;
    }
  }
}
